content {

    .first-information {
        width: 1059px;
        flex-shrink: 0;
        display: flex;
    }

    .center-information {
        h1 {
            display: flex;
            width: 786px;
            height: 54px;
            flex-shrink: 0;
            margin-top: 20px;
            margin-left: 263px;
            color: #ED7839;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: 25px;
            letter-spacing: 1px;
        }

        .video {
            width: 784px;
            height: 439px;
            flex-shrink: 0;
            position: absolute;
            top: 161px;
            left: 265px;

            .video-image-2 {
                position: absolute;
                top: 0px;
                left: 0px;
                opacity: 50%;
                // background: rgba(164, 60, 4, 0.5);

                //  z-index: 2;
            }

            .video-image-3 {
                position: absolute;
                top: 0px;
                left: 0px;
                opacity: 50%;
                // background: rgba(164, 60, 4, 0.5);

                //  z-index: 2;
            }

            .top-text {
                width: 734px;
                height: 54px;
                position: absolute;
                top: 35px;
                left: 32px;
                flex-shrink: 0;
                color: #FFF;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: 25px;
                letter-spacing: 1.2px;
                // z-index: 1;
            }

            .down-text-1 {
                width: 452px;
                height: 36px;
                position: absolute;
                top: 311px;
                left: 132px;
                flex-shrink: 0;
                color: #FFF;
                font-family: Roboto;
                font-size: 34px;
                font-style: normal;
                font-weight: 900;
                line-height: 25px;
                /* 73.529% */
                letter-spacing: 1.7px;
                // z-index: 1;
            }

            .down-text-2 {
                width: 417px;
                height: 27px;
                position: absolute;
                top: 352px;
                left: 134px;
                flex-shrink: 0;
                color: #FFF;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: 25px;
                letter-spacing: 1px;
                // z-index: 1;
            }




            .video-photo-1 {
                position: absolute;
                width: 74.851px;
                height: 77.485px;
                flex-shrink: 0;
                background-image: url("/ts/src/assets/images/content/master-image.jpg");
                background-size: cover;
                background-position: center;
                border-radius: 50%;

                left: 35.57px;
                top: 305.26px;

            }

            .video-photo-2 {
                position: absolute;
                width: 84px;
                height: 86px;
                flex-shrink: 0;
                left: 31px;
                top: 301px;

            }
        }
    }

    .resume {
        width: 1058px;
        height: auto;

        margin-top: 30px;
        margin-left: 263px;
        flex-shrink: 0;
        border-radius: 3px;
        border: 1px solid #ECECEC;

        .resume-header {
            height: 45px;
            flex-shrink: 0;
            border-radius: 3px 3px 0px 0px;
            border: 1px solid #ECECEC;
            background: #FDF1EB;

            .r {
                width: 1028px;
                height: 25px;
                margin-top: 10px;
                margin-left: 15px;
                flex-shrink: 0;
                color: #4E4E4E;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
            }
        }

        #resume-text {

            padding: 15px;
            align-self: stretch;
            color: #5C5C5C;
            font-family: Quicksand;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 162.5%;
            letter-spacing: 0.28px;
        }

        #expand {
            color: #ED7839;
            font-family: Quicksand;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 152.344%;
            letter-spacing: 0.28px;
        }
    }

    .discussion {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 263px;
        padding-bottom: 15px;
        width: 1058px;
        height: auto;
        flex-shrink: 0;
        border-radius: 3px;
        border: 1px solid #ECECEC;
        box-sizing: border-box;

        .discussion-header {
            // width: 1058px;
            height: 45px;
            flex-shrink: 0;
            border-radius: 3px 3px 0px 0px;
            border: 1px solid #ECECEC;
            background: #FDF1EB;

            .dis {
                width: 1027px;
                height: 25px;
                margin-top: 10px;
                margin-left: 15px;
                color: #4E4E4E;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
            }
        }

        .discussion-base {
            display: flex;
            flex-direction: column;

            .text-1 {
                margin-top: 15px;
                margin-left: 324.5px;
                color: #ED7839;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .text-2 {
                margin-top: 35px;
                margin-left: 216.5px;
                width: 626px;
                color: #595959;
                text-align: center;
                font-family: Quicksand;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 137.5%;
            }

            .discussion-icons {
                display: flex;

                .icon-1 {
                    margin-top: 27px;
                    margin-left: 402.05px;
                    width: 50.26px;
                    height: 48.935px;
                    flex-shrink: 0;

                }

                .icon-2 {
                    margin-top: 27px;
                    margin-left: 51.74px;
                    width: 50.26px;
                    height: 48.935px;
                    flex-shrink: 0;

                }

                .icon-3 {
                    margin-top: 27px;
                    margin-left: 53.74px;
                    width: 50.26px;
                    height: 48.935px;
                    flex-shrink: 0;

                }
            }

            .button-new-topic {
                width: 133px;
                height: 32px;
                flex-shrink: 0;

                .button-create {
                    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
                    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.24)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12));
                    display: flex;
                    border-radius: 4px;
                    border: 1px solid rgba(0, 0, 0, 0.00);
                    margin-top: 14px;
                    margin-left: 463px;
                    width: 133px;
                    height: 32px;
                    justify-content: center;
                    text-align: center;
                }


                .icon-create {
                    width: 17px;
                    height: 17px;
                    margin-top: 8px;
                    margin-left: px;
                    flex-shrink: 0;
                }

                .c {
                    margin-top: 7px;
                    margin-left: 6px;
                    color: #FFF;
                    text-align: center;
                    font-family: Quicksand;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                }

            }

            hr {
                position: absolute;
                width: 1027px;
                height: 0px;
                top: 1112px;
                margin-left: 16px;
                flex-shrink: 0;
                stroke-width: 1px;
                opacity: 30%;
                z-index: -1;
            }
        }

        .topic-1 {
            width: 1028px;
            height: 148px;
            margin-top: 30px;
            margin-left: 15px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid #E7E7E7;
            background: #FFF;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

            .subject {
                margin-top: 17px;
                margin-left: 24.17px;
                color: #ED7839;
                font-family: Quicksand;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .author {
                width: 542.071px;
                margin-left: 24.17px;
                color: #5C5C5C;
                font-family: Quicksand;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .content {
                width: 980.669px;
                margin-top: 17px;
                margin-left: 24.17px;
                color: #4D4D4D;
                font-family: Quicksand;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .reacts-topic {
                display: flex;
            }

            .information {
                width: 4px;
                height: 18px;
                flex-shrink: 0;
                margin-top: 12px;
                margin-left: 24px;
            }

            .like-button {
                background: #ED7839;
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.24)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12));
                width: 27px;
                height: 19px;
                flex-shrink: 0;
                margin-top: 11px;
                margin-left: 15px;
                box-shadow: 0px 2px 2px 0px #0000003D;
                box-shadow: 0px 0px 2px 0px #0000001F;
                border-radius: 10%;
                justify-content: center;
                text-align: center;
            }

            .like-heart {
                width: 14px;
                height: 14px;
                margin-top: 3px;
                font-family: Material Icons;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            .count-like {
                margin-top: 11px;
                margin-left: 15px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }

            .count-answer {
                margin-top: 11px;
                margin-left: 15px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }
        }

        .topic-2 {
            width: 1028px;
            height: 148px;
            margin-top: 15px;
            margin-left: 15px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid #E7E7E7;
            background: #FFF;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

            .subject {
                margin-top: 17px;
                margin-left: 24.17px;
                color: #ED7839;
                font-family: Quicksand;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .author {
                width: 542.071px;
                margin-left: 24.17px;
                color: #5C5C5C;
                font-family: Quicksand;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .content {
                width: 980.669px;
                margin-top: 17px;
                margin-left: 24.17px;
                color: #4D4D4D;
                font-family: Quicksand;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .reacts-topic {
                display: flex;
            }

            .information {
                width: 4px;
                height: 18px;
                flex-shrink: 0;
                margin-top: 12px;
                margin-left: 24px;
            }

            .like-button {
                background: #ED7839;
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.24)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12));
                width: 27px;
                height: 19px;
                flex-shrink: 0;
                margin-top: 11px;
                margin-left: 15px;
                box-shadow: 0px 2px 2px 0px #0000003D;
                box-shadow: 0px 0px 2px 0px #0000001F;
                border-radius: 10%;
                justify-content: center;
                text-align: center;
            }

            .like-heart {
                width: 14px;
                height: 14px;
                margin-top: 3px;
                font-family: Material Icons;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            .count-like {
                margin-top: 11px;
                margin-left: 15px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }

            .count-answer {
                margin-top: 11px;
                margin-left: 15px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }
        }

    }
}

footer {
    width: 1086px;
    height: 181px;
    margin-top: 65px;
    margin-left: 234px;
}