content {
    .center-information {
        h1 {
            position: absolute;
            width: 786px;
            height: 54px;
            flex-shrink: 0;
            top: 88px;
            left: 263px;
            color: #ED7839;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: 25px;
            letter-spacing: 1px;
        }

        .video {
            width: 784px;
            height: 439px;
            flex-shrink: 0;
            position: absolute;
            top: 161px;
            left: 265px;

            .video-image-2 {
                position: absolute;
                top: 0px;
                left: 0px;
                opacity: 50%;
                // background: rgba(164, 60, 4, 0.5);

                //  z-index: 2;
            }

            .video-image-3 {
                position: absolute;
                top: 0px;
                left: 0px;
                opacity: 50%;
                // background: rgba(164, 60, 4, 0.5);

                //  z-index: 2;
            }

            .top-text {
                width: 734px;
                height: 54px;
                position: absolute;
                top: 35px;
                left: 32px;
                flex-shrink: 0;
                color: #FFF;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: 25px;
                letter-spacing: 1.2px;
                // z-index: 1;
            }

            .down-text-1 {
                width: 452px;
                height: 36px;
                position: absolute;
                top: 311px;
                left: 132px;
                flex-shrink: 0;
                color: #FFF;
                font-family: Roboto;
                font-size: 34px;
                font-style: normal;
                font-weight: 900;
                line-height: 25px;
                /* 73.529% */
                letter-spacing: 1.7px;
                // z-index: 1;
            }

            .down-text-2 {
                width: 417px;
                height: 27px;
                position: absolute;
                top: 352px;
                left: 134px;
                flex-shrink: 0;
                color: #FFF;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: 25px;
                letter-spacing: 1px;
                // z-index: 1;
            }

           
            

            .video-photo-1 {
                position: absolute;
                width: 74.851px;
                height: 77.485px;
                flex-shrink: 0;
                background-image: url("/ts/src/assets/images/content/master-image.jpg");
                background-size: cover;
                background-position: center;
                border-radius: 50%;

                left: 35.57px;
                top: 305.26px;
               
            }

            .video-photo-2 {
                position: absolute;
                width: 84px;
                height: 86px;
                flex-shrink: 0;
                left: 31px;
                top: 301px;

            }
        }
    }

    .resume {
        position: absolute;
        width: 1058px;
        height: 189px;
        top: 630px;
        right: 45px;
        flex-shrink: 0;
        border-radius: 3px;
        border: 1px solid #ECECEC;

        .resume-header {
            height: 45px;
            flex-shrink: 0;
            border-radius: 3px 3px 0px 0px;
            border: 1px solid #ECECEC;
            background: #FDF1EB;

            .r {
                width: 1028px;
                height: 25px;
                margin-top: 10px;
                margin-left: 15px;
                flex-shrink: 0;
                color: #4E4E4E;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
            }
        }

        #resume-text {

            margin-top: 15px;
            margin-left: 15px;
            align-self: stretch;
            color: #5C5C5C;
            font-family: Quicksand;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 162.5%;
            letter-spacing: 0.28px;

        }
        #expand {
            color: #ED7839;
            font-family: Quicksand;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 152.344%;
            letter-spacing: 0.28px;
        }
    }

    .discussion {
        position: absolute;
        top: 849px;
        right: 45px;
        width: 1058px;
        height: 621px;
        flex-shrink: 0;
        border-radius: 3px;
        border: 1px solid #ECECEC;

        .discussion-header {
            // width: 1058px;
            height: 45px;
            flex-shrink: 0;
            border-radius: 3px 3px 0px 0px;
            border: 1px solid #ECECEC;
            background: #FDF1EB;

            .dis {
                width: 1027px;
                height: 25px;
                margin-top: 10px;
                margin-left: 15px;
                color: #4E4E4E;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
            }

        }

        .text-1 {
            margin-top: 15px;
            margin-left: 324.5px;
            color: #ED7839;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

        }

        .text-2 {
            margin-top: 111px;
            margin-left: 216.5px;
            width: 626px;
            color: #595959;
            text-align: center;
            font-family: Quicksand;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 137.5%;
            /* 19.25px */


        }

        .icon-1 {
            position: absolute;
            margin-top: 27px;
            margin-left: 402.05px;
            width: 50.26px;
            height: 48.935px;
            flex-shrink: 0;

        }

        .icon-2 {
            position: absolute;
            margin-top: 27px;
            left: 504.5px;
            width: 50.26px;
            height: 48.935px;
            flex-shrink: 0;

        }

        .icon-3 {
            position: absolute;
            margin-top: 27px;
            left: 608px;
            width: 50.26px;
            height: 48.935px;
            flex-shrink: 0;

        }

        #new-topic {
            width: 133px;
            height: 32px;
            flex-shrink: 0;
            fill: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
            filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.24)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12));
            display: flex;

            .button-create {
                position: absolute;
                top: 14px;
                left: 463px;

            }


            .icon-create {
                position: absolute;
                width: 17px;
                height: 17px;
                top: 22px;
                left: 477px;
                flex-shrink: 0;
            }

            .c {
                position: relative;
                top: 21px;
                left: 500px;
                color: #FFF;
                text-align: center;
                font-family: Quicksand;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;

            }

        }

        .topic-1 {
            position: relative;
            width: 1028px;
            height: 148px;
            top: 30px;
            left: 15px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid #E7E7E7;
            background: #FFF;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

            .a {
                margin-top: 17px;
                margin-left: 24.17px;
                color: #ED7839;
                font-family: Quicksand;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .b {
                width: 542.071px;
                margin-left: 24.17px;
                color: #5C5C5C;
                font-family: Quicksand;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .c {
                width: 980.669px;
                margin-top: 17px;
                margin-left: 24.17px;
                color: #4D4D4D;
                font-family: Quicksand;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .information {
                position: absolute;
                width: 4px;
                height: 18px;
                flex-shrink: 0;
                top: 112px;
                left: 24px;
            }

            .like-button {
                position: absolute;
                width: 27px;
                height: 19px;
                flex-shrink: 0;
                top: 111px;
                left: 43px;
            }

            .like-heart {
                position: absolute;
                top: 114px;
                left: 49px;
                width: 14px;
                height: 14px;

                // background-color: black;
                font-family: Material Icons;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            .count-like {
                position: absolute;
                top: 111px;
                left: 85px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }

            .count-answer {
                position: absolute;
                top: 111px;
                left: 129px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }
        }

        .topic-2 {
            position: relative;
            width: 1028px;
            height: 148px;
            top: 35px;
            left: 15px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid #E7E7E7;
            background: #FFF;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

            .a {
                margin-top: 17px;
                margin-left: 24.17px;
                color: #ED7839;
                font-family: Quicksand;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .b {
                width: 542.071px;
                margin-left: 24.17px;
                color: #5C5C5C;
                font-family: Quicksand;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .c {
                width: 980.669px;
                margin-top: 17px;
                margin-left: 24.17px;
                color: #4D4D4D;
                font-family: Quicksand;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .information {
                position: absolute;
                width: 4px;
                height: 18px;
                flex-shrink: 0;
                top: 112px;
                left: 24px;
            }

            .like-button {
                position: absolute;
                width: 27px;
                height: 19px;
                flex-shrink: 0;
                top: 111px;
                left: 43px;
            }

            .like-heart {
                position: absolute;
                top: 114px;
                left: 49px;
                width: 14px;
                height: 14px;

                // background-color: black;
                font-family: Material Icons;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            .count-like {
                position: absolute;
                top: 111px;
                left: 85px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }

            .count-answer {
                position: absolute;
                top: 111px;
                left: 129px;
                color: #757575;
                font-family: Segoe UI;
                font-size: 14px;
                font-style: normal;
                font-weight: 350;
                line-height: normal;
            }
        }

    }
}

footer {
    width: 1086px;
    height: 181px;
    position: absolute;

    top: 1520px;
    margin-left: 234px;
}