@import "partials/colors";
@import "partials/header";
@import "partials/side-menu";
@import "partials/content";
@import "partials/side-details";
@import "partials/new-topic";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

